/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Special+Elite&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(228, 228, 228);
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 20px;
}
.site-header{
    font-family: 'Special Elite', cursive;
    background-color: #ffcc00;
    height: 135px;
    padding-top: 50px;
    font-weight: 500;
}
.site-header h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 48px;
    text-shadow: 4px 2px white;
}
.site-header .location{
    text-align: center;
    font-style: italic;
}
.bio{
    font-family: 'Special Elite', cursive;
    padding-top: 20px;
    margin-left: 20%;
}
.p1{
    padding-left: 20px;
    margin-right: 50%;
    margin-bottom: 50px;
    line-height: 2;
}
.family{
    text-align: right;
    margin-right: 25%;
    font-family: 'Special Elite', cursive;
    font-size: 22px;
}
.p2{
    line-height: 2;
    padding-right: 20px;
    margin-left: 50%;
    margin-bottom: 50px;
}
.hobbies{
    margin-left: 20%;
    font-family: 'Special Elite', cursive;
    font-size: 22px;
}
.p3{
    padding-left: 20px;
    margin-right: 50%;
    line-height: 2;
}